 <div style = "background-color: grey; color: white; padding: 5px;">
   <nav>
      <a href="/shops/<%= @shop.id %>/equipments">Shop Equipment Index</a>
      <a href="/shops">Shops Index</a>
      <a href="/equipments">Equipment Index</a>
      <a href="/shops/<%= @shop.id %>/edit">Edit</a>
   </nav>
</div>
<h1><%= @shop.name %></h1>
<p>Ratings: <%= @shop.ratings%></p>
<p>Open Now: <%= @shop.is_open%></p>
<p>Amount of Equipment: <%= @shop.count_of_equipment %>