<form action="/equipments/<%= @equipment.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='equipment[brand]' value="<%= @equipment.brand %>"/><br/>
  <input type='text' name='equipment[price]' value="<%= @equipment.price %>"/><br/>
  <input type='text' name='equipment[in_stock]' value="<%= @equipment.in_stock %>"><br/>
  <input type='submit' value='Submit'/>
</form>