 <div style = "background-color: grey; color: white; padding: 5px;">
   <nav>
      <a href="/shops" style = "padding: 10px;">Shops Index</a>
      <a href="/equipments" style = "padding: 10px;">Equipment Index</a>
   </nav>
</div>
<h1>Ski Equipment</h1>
<% @equipment.each do |equipment| %>
   <p> Brand: <%= equipment.brand %>
        <a href="/equipments/<%= equipment.id %>/edit" style = "padding: 10px;">Edit</a> </p>
   <p> Price: <%= equipment.price %> </p>
   <p> Stock? 
        <% if equipment.in_stock == true%>
            <%= "In Stock" %>
        <% else %>
            <%= "Out of Stock" %>
        <% end %>
        </p>
    <%end%> 