 <div style = "background-color: grey; color: white; padding: 5px;">
   <nav>
      <a href="/shops" style = "padding: 10px;">Shops Index</a>
      <a href="/equipments" style = "padding: 10px;">Equipment Index</a>
      <a href="/equipments/<%= @equipment.id %>/edit" style = "padding: 10px;">Edit</a>
   </nav>
</div>
<h1> Equipment: </h1>   
<h2><%= @equipment.brand %></h2>
<p>Prices: <%= @equipment.price %></p>
<p>Stock: <%= @equipment.in_stock %></p>
<%= button_to "Delete #{@equipment.brand}", "/equipments/#{@equipment.id}", method: :delete%>