<div style = "background-color: grey; color: white; padding: 5px;">
   <nav>
      <a href="/shops" style = "padding: 10px;">Shops Index</a>
      <a href="/equipments" style = "padding: 10px;">Equipment Index</a>
      <a href="/shops/<%= @evolution.id %>/equipments/new">Create Equipment</a>
   </nav>
</div>
<h1><%= @evolution.name %></h1>
<h3>Equipment:</h3>
    <% @new_evolution.each do |equipment| %>
    <p> Brand: <%= equipment.brand %>
    <p> Price: <%= equipment.price %>
    <p> Stock? 
        <% if equipment.in_stock == true%>
            <%= "In Stock" %>
        <% else %>
            <%= "Out of Stock" %>
        <% end %>
        </p><br></br>
    <%end%> 
<%= button_to "Alphabetize",  "/shops/#{@evolution.id}/equipments", method: :get, params: {sort: "brand"}%>